@model WebApplication1.Models.perSiswa 

@{
    ViewBag.Title = "Details";
}

<h2>Rapor</h2>

<div>
    <h4>Data @Html.DisplayFor(model => model.namaSiswa) @Html.DisplayFor(model => model.kotaSiswa) </h4>
	<hr />

    <table class="table" border="1">
        <tr>
            <th>
                Mata Pelajaran
            </th>
            <th colspan="2">
                Pengetahuan
            </th>
            <th colspan="2">
                Ketrampilan
            </th>
            <th colspan="2">
                Sikap
            </th>
        </tr>

        <tr>
             <td>
                Pend Agama dan budi Pekerti   
             </td>
             <td>
                3
             </td>
             <td>
                b
             </td>
             <td>
                3
             </td>
             <td>
                b
             </td>
             <td>
                b
             </td>
             <td rowspan="17" align="center">
                Peserta didik menunjukkkan sikap jujur, toleransi, kerjasama dan tanggung jawab dan taat menjalankan agamanya
             </td>
         </tr>

        <tr>
            <td>
                Pend Pancasila dan Kewarganegaraan
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
        </tr>

        <tr>
            <td>
                Bahasa Indonesia
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

        <tr>
            <td>
                Matematika
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

        <tr>
            <td>
                Sejarah Indonesia
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

        <tr>
            <td>
                Bahasa Inggris
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

        <tr>
            <td>
                Seni Budaya
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

        <tr>
            <td>
                Pend jas Olah Raga dan Kesehatan
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

        <tr>
            <td>
                Prakarya Kewirausahaan
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

        <tr>
            <td>
                Bahasa Jawa (Mulok)
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

        <tr>
            <td>
                Pengantar Ekonomi dan Bisnis
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

        <tr>
            <td>
                Pengantar Akutansi
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

        <tr>
            <td>
                Pengantar Administrasi Perkantoran
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

        <tr>
            <td>
                Simulasi Digital
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

        <tr>
            <td>
                Pend Agama dan budi Pekerti
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

        <tr>
            <td>
                Pend Agama dan budi Pekerti
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

        <tr>
            <td>
                Pend Agama dan budi Pekerti
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                3
            </td>
            <td>
                b
            </td>
            <td>
                b
            </td>
            
        </tr>

    </table>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
