@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SIAPS</h1>
    <p class="lead">Sistem Informasi Akademik Penilaian Siswa Berbasis Kurikulum 2013</p>
    

</div>

<div class="row">
    <div class="col-md-4">
        <h2>PESERTA DIDIK</h2>
        <p>
            peserta didik melakukan login terlebih dahulu sebelum mengakses halaman utama dari peserta didik. Pada menu ini, di halaman utama peserta didik dapat memilih sub menu penilaian teman sejawat, edit profile, dan melihat nilai sendiri.
        </p>
    </div>
    <div class="col-md-4">
        <h2>TENAGA PENDIDIK</h2>
        <p>
            tenaga pengajar melakukan login terlebih dahulu sebelum mengakses halaman utama dari tenaga pengajar. Pada menu ini, di halaman utama tenaga pengajar dapat memilih sub menu penilaian para siswa dari mata pelajaran yang diampunya, edit profile dan melihat nilai para siswa yang diajarnya.
        </p>
    </div>
    <div class="col-md-4">
        <h2>WALI KELAS</h2>
        <p>
            wali kelas melakukan login terlebih dahulu sebelum mengakses halaman utama dari wali kelas. Pada menu ini, di halaman utama wali kelas dapat memilih sub menu mencetak rapor, edit profile dan melihat nilai dari kelasnya sendiri.
        </p>
    </div>
</div>